<!--
asap_astrobee.launch

Manually called to launch execute_asap.py on hardware.

Keenan Albee and Charles Oestreich, 2021
MIT Space Systems Laboratory
-->

<launch>

  <arg name="output" default="screen" />             <!-- Output to screen or log, change to log for ISS!    -->
  <arg name="llp" default="local" />              <!-- LLP IP address              -->
  <arg name="mlp" default="local" />              <!-- MLP IP address              -->

  <!-- Set OpenMP num threads for SLAM debugging -->
  <env name="OMP_NUM_THREADS" value="12" />

  <node
    pkg="execute_asap" type="execute_asap.py" name="execute_asap"
    args="/ $(arg llp)"
    output="$(arg output)"/>
</launch>
