<!-- Launch a limited set of nodes for debugging -->

<launch>
  <arg name="output" default="screen"/>          <!-- Where nodes should log    -->

  <!-- Load params for queen -->
  <rosparam command="load" file="$(find execute_asap)/config/casadi_nmpc_params.yaml"/>
  <rosparam command="load" file="$(find execute_asap)/config/primary_coord_params.yaml"/>
  <rosparam command="load" file="$(find execute_asap)/config/rattle_coordinator_params.yaml"/>

  <node
    name="rattle_coordinator" pkg="rattle_coordinator" type="rattle_coordinator_node.py"
    output="$(arg output)"/>
</launch>
